#outer{
	font-family:Arial, Helvetica, Sans-Serif;
	font-size:0.8em;
	width:760px;
	margin:0 auto;
	border:1px solid #000000;	
}

#topBanner{
	position:relative;
	border-bottom:2px solid #C94C0D;
}

* html #topBanner img{
	margin-bottom:-3px;
}

#bannerText{
	position:absolute;
	top:30px;
	left:30px;
}

#content:after{
	height:0;
	display:block;
	visibility:hidden;
	content:"&nbsp;";
	clear:both;
}

#content{
	padding-bottom:10px;
}

#largeImage{
	margin:10px auto;
}

#largeImage img{
    display:block;
    margin:0 auto;
}

.album{
	width:180px;
	border:1px solid #cccccc;
	background-image:url(images/imageBack.jpg);
	background-repeat:repeat-x;
	padding-bottom:10px;
	margin:10px 30px;
	float:left;
	text-align:center;
}

* html .album{
	margin:10px 25px;
}

.album img{
	display:block;
	margin:10px auto;
}

.album a img{
	border:none;
}

a{
	color:#C94C0D;
}

a:hover{
	color:#000000;
}

h2{
	color:#000000;
	font-size:1.2em;
	margin-left:30px;
	margin-bottom:0;
}

.groupof3{
	clear:both;
}


.clear{
	clear:both;
}	